#console,
#command-line
{
    font-family: monaco;
    font-size: 16px;
    line-height: 30px;
}
#command-line
{
    border: none;
    width: 100%;
}
#command-line:before
{
    content: '>';
    font-size: 20px;
    line-height: 30px;
    margin-right: 10px;
    float: left;
}
#command-line:focus
{
    outline: none;
}
#console ul
{
    margin-bottom: 0;
    margin-left: 0;
    height: 400px;
    overflow-y: scroll;
}
#console li.output
{
    color: #999;
    padding-left: 10px;
}
#console li.output.success
{
    color: green;
}
#console li.output.fail
{
    color: red;
}
#console li.purple
{
    color: #7F40BF;
}

#lesson-panel
{
    float: left;
    width: 500px;
}

.lesson-fluid
{
    margin-left: 520px;
}

#questionnaire label
{
    display: inline;
}

.panel-control
{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
